$white: #fcf7f8;
$bg: #073b4c;
$primary-color: #7a3b69;
$mellow: #ffee88;
$bright-orange: #f3722c;
$orange: #f8961e;
$light-orange: #f9844a;
$go-green: #90be6d;
$sea-green: #43aa8b;
$blue-green: #4d908e;
$dirty-blue: #577590;
$info: #277da1;
$warning: #f94144;